<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <util:properties id="p_env" location="classpath:config/env.properties"/>

    <bean id="clientConnectionManager"
          class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager"
          destroy-method="shutdown"
          p:defaultMaxPerRoute="20"
          p:maxTotal="100"
    />

    <bean id="httpClientBuilder"
          factory-method="custom"
          class="org.apache.http.impl.client.HttpClients"
          p:connectionManager-ref="clientConnectionManager"
    />

    <bean id="httpClient" scope="prototype" factory-bean="httpClientBuilder" factory-method="build" destroy-method="close"/>

    <bean id="httpRequest"
          depends-on="springContext" scope="prototype"
          class="com.googlecode.easyec.spirit.web.httpcomponent.impl.AutowireCapableHttpRequestFactoryBean">
        <property name="httpRequest">
            <bean class="com.googlecode.easyec.spirit.web.httpcomponent.impl.HttpRequestFactoryBean" p:httpClient-ref="httpClient"/>
        </property>
    </bean>

    <!-- Spring上下文工具类 -->
    <bean id="springContext"
          class="com.googlecode.easyec.spirit.web.utils.SpringContextUtils"
    />

    <bean id="jsonObjectFactory"
          class="com.googlecode.easyec.spirit.web.webservice.factory.impl.DefaultJackson2ObjectFactory"
          c:objectMapper-ref="objectMapper"
    />

    <!-- JAXB工厂类 -->
    <bean id="jaxbObjectFactory"
          class="com.googlecode.easyec.spirit.web.webservice.factory.impl.Jaxb2MarshallerObjectFactory"
          c:jaxb2Marshaller-ref="jaxb2Marshaller"
    />

    <bean id="objectMapper"
          class="org.springframework.http.converter.json.Jackson2ObjectMapperFactoryBean"
          p:simpleDateFormat="yyyy-MM-dd HH:mm:ss"
    />

    <!-- JAXB2 Marshaller工厂类 -->
    <bean id="jaxb2Marshaller"
          class="org.springframework.oxm.jaxb.Jaxb2Marshaller"
          p:packagesToScan="com.googlecode.easyec.wechat.xml"
    />

    <bean id="weChatMessageHandler"
          class="com.googlecode.easyec.wechat.msg.handler.WeChatMessageHandlerChain"
          p:messageHandlers-ref="messageHandlers"
    />

    <util:list id="messageHandlers">
        <bean class="com.googlecode.easyec.wechat.test.msg.impl.MySubscriptionMessageHandler" c:_0-ref="jaxbObjectFactory"/>
    </util:list>
</beans>